body{
    background-color: #123524; 
    overflow-x: hidden;
    width: 100%;
}


/* Pallete ------

#123524 (მუქი ზურმუხტისფერი): მთავარი.

#B85124 (სპილენძისფერი/ტერაკოტა): მთავარი აქცენტებისთვის.

#DCA037 (ოქროსფერი):ვარსკვლავებისთვის და მცირე სათაურებისთვის.

#1E4E38 (ოდნავ ღია ზურმუხტისფერი): Event Card-ებისთვის.

#8B3A17 (მუქი სპილენძისფერი): Hover ეფექტებისთვის. */
/* ------------Header Styles---------------- */
header{
    background-color:#123524cc;
    box-shadow: 0 0 10px black;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.HPart1  a{
    color: white;
    font-family: Text;
    font-size: 32px;
    text-decoration: none;
}

.HPart1 span{
    font-family: Main;
}

.HPart2{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.HP1Part1{
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.HP1Part1 a , .HP1Part2 a{
    text-decoration: none;
    font-family: Text;
    color: rgb(255, 255, 255);
}

.active{
    text-decoration: underline !important;
}

.HP1Part1 a:hover , #myLinks a:hover{
    text-decoration: underline;
    font-size: 24px;
    transition: 0.2s;
    color: #DCA037; 
}

.HP1Part2{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.fa-circle-user, .fa-basket-shopping{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.fa-circle-user:hover, .fa-basket-shopping:hover{
    color: #DCA037;
}

.HP1Part2 a:hover{
    color: #DCA037;
}
.menu-checkbox, .burger-label {
    display: none;
}

.HP1Part2 > a{
    position: relative;
    z-index: 20;
}
.icon{
    display: none;
}
#myLinks{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #123524;
    z-index: 15;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    padding: 0 80px;
}

#myLinks a{
    font-size: 32px;
    color: white;
    text-decoration: none;
}
/* -----------section1------ */
.sect1{
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.sect1>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-top: 20px;

    animation: Up 1s forwards ease;
}
.sect1>a{
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-decoration: none;
}

.shopAll{
    height: 50px;
    width: 150px;
    background-color: #3195B5cc;
    cursor: pointer;
    border: 0;
    color: white;
    font-size: 24px;
    font-family: Text3;
    letter-spacing: 1px;

    animation: Up 2s forwards ease;
}

.shopAll:hover{
        background-color: #3195B5;
        transition: 0.3s;
}

.sect1>h1{
    position: absolute;
    bottom: 82%;
    padding: 20px 100px;
    background-color: #3195B5cc;
    font-family: Text;
    color: white;
    
    animation: Up 2s forwards ease;
}

/* --------section2------------ */

.sect2,
.sect3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 100px;
}

.sect2>h1,
.sect3>h1{
    font-family: Text;
    padding: 20px 0px;
    font-size: 36px;
    letter-spacing: 1px;
    color: #F15F22;
    text-shadow: 0 0 5px;
}

.S2Products,
.S3Products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.S2ProductsCard{
    margin:20px 0px;
    height: 550px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    
}

.S2ProductsCard>div{
    height: 350px;
   
} 

.S2Products>div>h2{
    position: absolute;
}

.S2ProductsCard Img{
    object-fit: cover;
    height: 350px;
    width: 80%;
    border: 5px solid #007A68;
    background-color: #8DCFB1; 
    cursor: pointer;
}

.deg5{
    rotate: 5deg;
}
.deg-5{
    rotate: -5deg;
}

.hide{
    position: absolute;
    object-position: top;
    left: 0;
    opacity: 0;
}

.S2ProductsCard img:hover{
    opacity: 1;
    transition: 0.5s;
}

.S2ProductsCard h1{
    font-family: text;
    color: #F15F22;
}

.S2ProductsCard p{
    font-size: 24px;
    font-family: Text ;
    color:#DCA037 ;
}



/* --------section4------ */

.sect4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 20px 100px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container>a>button{
    width: 100%;
    background: none;
    border: 0;
    cursor: pointer;
}
.container>a>button>img{
    object-fit: contain;
    height: 400px;
}

.container>a>button:hover{
    rotate: -5deg;
    transition: 0.3s;
}

.hrDiv{
    margin: 32px;
    height: 2px;
    border-radius: 10px;
    width: 85vw;
    background-color: #8bc7b4;
}
/* --------Footer------- */
footer{
    background-color: #be252a;
    min-height: 100vh;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: -9;
    overflow: clip;
}

.footerPart1{
    display: flex;
    justify-content: space-between;
}

.footerPart1>div{
    display: flex;
    gap: 200px;
    justify-content: space-between;
}

.FPPart1 , .FPPart2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-family: text;
    color: white;
}
.FPPart1 a, .FPPart2 a{
    color: white;
}
.footer-star{
    color: white;
    font-size: 24px;
    animation: DancingStar 3s linear infinite ;
}

.footerPart2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footerPart2 h1{
    color: white;
    font-family: Text;
    font-size:240px;
    padding: 100px;
    flex-wrap: wrap;
}

.footerPart2 span{
    font-family: Main;
}

.footerPart2 p{
    color: white;
    font-family: text;
}

footer>img{
    object-fit: contain;
    width: 50%;
    height: 100%;
    rotate: -75deg;
    position: absolute;
    right: -20%;
    top: 100px;
    z-index: -1;

    animation:RoseIn ease backwards;
    animation-timeline: view();
}


/* -------Animations-------------- */
@keyframes ComeIn {
    0%{transform: translateX(-300px);}
    50%{ transform:translateX(0);}
}
@keyframes ComeInFromTheOtherSide{
    0%{transform: translateX(300px);}
    50%{ transform:translateX(0);}
}

@keyframes DancingStar {
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(180deg);}
}

@keyframes RoseIn {
    0%{transform: translateY(50%);}
    100%{ transform:translateY(-50vh);}
}

@keyframes Up {
    0%{opacity: 0;}
    50%{transform: translateY(10px); opacity: 0;}
    100%{ transform:translateY(0); opacity: 100%;}
}
@keyframes Up2 {
    0%{transform: translateY(100px); opacity: 0;;}
    50%{ transform:translateY(0); opacity: 100%;}
}

/* -----section------ */
